@import 'bootstrap/bootstrap';

$color: #08182b;
$background-color: #fff;
$link-color: #45d9fd;

*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased; /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale; /* Firefox */
  box-sizing: border-box;
}
html {
  font-size: 16px; /* 1 rem = 16px */
}
body {
  color: $color;
  background-color: $background-color;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.3px;
  font-family: Montserrat, 'Segoe UI WestEuropean', 'Segoe UI', -apple-system,
    BlinkMacSystemFont, 'Helvetica Neue', sans-serif, Arial;
}
html,
body,
#__next {
  height: 100%;
  overflow: auto;
}
p {
  line-height: 1.2rem;
}
a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.125s ease-in-out;
  &:active {
    color: inherit;
  }
}
button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}
.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}
.dropzone:focus,
.dropzone:active,
.dropzone:hover {
  border-color: #3498db;
  opacity: 1;
}
/*
.mainroot {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}
.textField * {
  width: '100%';
}
.submitButton {
  margin-top: 24px;
}
.maintitle {
  text-align: center;
  font-weight: 400;
  font-size: 22px;
}
.successMessage {
  color: green;
}
.errorMessage {
  color: red;
}
*/

/* Swiper slide product page style fix */
.swiper-slide > img {
  max-height: 500px;
  max-width: 500px;
  display: block;
}

.swiper-container-thumbs .swiper-slide > img {
  max-width: 100px;
  max-height: 100px;
  display: block;
}

.swiper-slide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-container-thumbs .swiper-wrapper .swiper-slide {
  height: auto;
}

.swiper-wrapper {
  align-items: center;
}

.productSlider {
  .swiper-button-next,
  .swiper-button-prev {
    border: 1px solid rgba(0, 0, 0, 0.3);
    &:hover {
      background: rgba(0, 0, 0, 0.2);
    }
    &:after {
      font-size: 20px;
      color: rgba(0, 0, 0, 0.3);
    }
  }
  .swiper-slide-thumb-active {
    opacity: 0.5;
  }
  .swiper-container-thumbs {
    .swiper-button-prev {
      left: 0;
    }
    .swiper-button-next {
      right: 0;
    }
  }
}

/* 404 page
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
*/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: 'Montserrat', sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #ff6300;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #ff6300;
  background: #211b19;
}

@media only screen and (max-width: 767px) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media only screen and (max-width: 480px) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }
  .notfound .notfound-404 h1 {
    font-size: 86px;
  }
  .notfound .notfound-404 h2 {
    font-size: 16px;
  }
  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}
