@import 'bootstrap/bootstrap';
@import 'variables/sizes';
//@import 'variables/color';

$base-font: 'Open Sans';
$color: #777777;
$background-color: #fff;
$link-color: #0793fa;
$border-color: #e1e1e1;


*,
*::before,
*::after {
  -webkit-font-smoothing: antialiased;
  /* Chrome, Safari */
  -moz-osx-font-smoothing: grayscale;
  /* Firefox */
  box-sizing: border-box;
}

html {
  font-size: 14px;
  /* 1 rem = 14px */
}

body {
  color: $color;
  background-color: $background-color;
  padding: 0px;
  margin: 0px;
  letter-spacing: 0.3px;
  font-family: $base-font, 'Segoe UI WestEuropean', 'Segoe UI', -apple-system,
    BlinkMacSystemFont, 'Helvetica Neue', sans-serif, Arial;
}

html,
body,
#__next {
  height: 100%;
  overflow: auto;
}

p {
  line-height: 1.2rem;
}

a {
  color: $link-color;
  text-decoration: none;
  transition: all 0.125s ease-in-out;

  &:active {
    color: inherit;
  }
}

button {
  background: none;
  padding: 0;
  border: none;
  cursor: pointer;
}

.dropzone {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  transition: border 0.24s ease-in-out;
}

.dropzone:focus,
.dropzone:active,
.dropzone:hover {
  border-color: #3498db;
  opacity: 1;
}


/* ----- product page swiper style fix ------ */

.productSlider .swiper-slide>img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.productSlider .productSlider .swiper-slide>img,
.productSlider .swiper-container-thumbs .swiper-slide>img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}

.productSlider .swiper-container-thumbs {
  .swiper-button-disabled {
    opacity: 0.3;
  }

  .swiper-slide {
    max-height: 80px;
    max-width: 80px;
    box-sizing: border-box;
    border-width: thin;
    border-style: solid;
    border-color: $border-color;

    &:hover {
      border-color: $link-color;
    }
  }

  .swiper-slide.swiper-slide-thumb-active {
    border-width: medium;
    border-color: $link-color;
  }
}

.productSliderThumb {
  max-width: 80px;
  max-height: 500px;
  flex: 1;

  .prevThumbBtn,
  .nextThumbBtn {
    width: 100%;
    border-width: thin;
    border-style: solid;
    border-color: $border-color;
    z-index: 2;
  }

  .prevThumbBtn {
    margin-bottom: 5px;
  }

  .nextThumbBtn {
    margin-top: 5px;
  }
}

.productSlider .productSlider {
  .swiper-button-disabled {
    opacity: 0.3;
    background-color: #fff;
  }

  .swiper-slide {
    max-height: 500px;
    max-width: 100%;
  }
}

.productSlider .productSlider .swiper-slide,
.productSlider .swiper-container-thumbs .swiper-slide {
  object-fit: contain;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

// .swiper-container-thumbs .swiper-wrapper .swiper-slide {
//   height: auto;
// }

// .swiper-wrapper {
//   align-items: center;
// }

/* 404 page
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
//*/

// -------- main slider



.main-slider {
  height: 350px;

  @media screen and (max-width: get-breakpoint("lg")) {
    height: 300px !important;
  }

  @media screen and (max-width: get-breakpoint("sm")) {
    height: 250px !important;
  }
}

// --------- main slider next prev buttons

.main-swiper-slide {
  position: relative;

  .swiper-button-next,
  .swiper-button-prev {
    width: 32px;
    height: 32px;
    background-color: #fff;
    color: #333;
    opacity: 0;
    transition: all 0.45s;
    border-radius: 32px;
    border: 1px solid $border-color;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);
    margin-top: -15px;

    &:after {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &:hover .swiper-button-next,
  &:hover .swiper-button-prev {
    opacity: 1;
  }

  .swiper-button-next:hover,
  .swiper-button-prev:hover {
    background-color: #f5f5f5;
  }

  .swiper-button-next:active,
  .swiper-button-prev:active {
    background-color: #ebebeb;
  }

  .swiper-button-next {
    right: 1px;
  }

  .swiper-button-prev {
    left: 1px;
  }
}

.sale-products-slider,
.related-items-slider {
  .swiper-slide img {
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 30px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.5) 100%);
    }
  }
}

/* 404 page
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}
*/
#notfound {
  position: relative;
  height: 100vh;
}

#notfound .notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound {
  max-width: 520px;
  width: 100%;
  line-height: 1.4;
  text-align: center;
}

.notfound .notfound-404 {
  position: relative;
  height: 200px;
  margin: 0px auto 20px;
  z-index: -1;
}

.notfound .notfound-404 h1 {
  font-family: $base-font, sans-serif;
  font-size: 236px;
  font-weight: 200;
  margin: 0px;
  color: #211b19;
  text-transform: uppercase;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.notfound .notfound-404 h2 {
  font-family: $base-font, sans-serif;
  font-size: 28px;
  font-weight: 400;
  text-transform: uppercase;
  color: #211b19;
  background: #fff;
  padding: 10px 5px;
  margin: auto;
  display: inline-block;
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
}

.notfound a {
  font-family: $base-font, sans-serif;
  display: inline-block;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  padding: 13px 23px;
  background: #42a5e0;
  font-size: 18px;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.notfound a:hover {
  color: #42a5e0;
  background: #211b19;
}

.coming-soon {
  display: flex;
  flex: 1;
  height: 100vh;
  align-self: center;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    font-weight: 200;
    font-size: 100px;
    margin: 0;
  }

  h2 {
    font-size: 28px;
    font-weight: 400;
    margin: 0;
  }
}

@media screen and (max-width: get-breakpoint("md", -1)) {
  .notfound .notfound-404 h1 {
    font-size: 148px;
  }
}

@media screen and (max-width: get-breakpoint("sm")) {
  .notfound .notfound-404 {
    height: 148px;
    margin: 0px auto 10px;
  }

  .notfound .notfound-404 h1 {
    font-size: 86px;
  }

  .notfound .notfound-404 h2 {
    font-size: 16px;
  }

  .notfound a {
    padding: 7px 15px;
    font-size: 14px;
  }
}

.ck-editor__editable {
  min-height: 500px;
}

.htmleditor .ck-editor__editable {
  min-height: 70px;
  max-height: 600px;
}


@import './blog';

.indent-1 {
  margin-left: 16px;
}

.indent-2 {
  margin-left: 32px;
}

.back-arrow::before {
  display: inline-block;
  font-family: 'ecommerce';
  text-decoration: none;
  content: '\e902';
  speak: none;
}

// facebook messenger plugin zoriulsan style

#fb-root iframe[data-testid="bubble_iframe"] {
  bottom: 64px !important;
}

#fb-root iframe[data-testid="dialog_iframe"] {
  bottom: 124px !important;
}

// input type number arrows hide

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
}

.ck-powered-by {
  display: none;
}

.page-padding {
  padding-top: $padding + $padding-half;
  padding-bottom: $padding + $padding-half;

  @media screen and (min-width: get-breakpoint("md")) {
    padding-top: $padding * 2;
    padding-bottom: $padding * 2;
  }
}