//@import './palette';

$transparent: 'transparent';
$neutral: var(--neutral);
$facebook: var(--facebook);
$login: var(--login);
$primary: var(--primary);
$primary-light: var(--primary-light);
$secondary: var(--secondary);
$info: var(--info);
$danger: var(--danger);
$warning: var(--warning);
$success: var(--success);
$button: var(--button);
$link: var(--link);
$text: var(--text);
$text-dark: var(--text-dark);
$text-light: var(--text-light);
$background: var(--background);
$background-light: var(--background-light);
$background-dark: var(--background-dark);
$background-grey: var(--background-grey);
$border: var(--border);
$border-light: var(--border-light);
$input: var(--input);
$placeholder: var(--placeholder);
$navbar: var(--navbar);
$block: var(--block);
$icon: var(--icon);
$icon-light: var(--icon-light);
$shadow: var(--shadow);
$disabled: var(--disabled);
$inverse-bg: var(--inverse-bg);
$inverse-text: var(--inverse-text);
$loader: var(--loader);
